[run]
branch = True
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit this single file
    utils/tirefire.py
    */migrations/*

[report]
ignore_errors = True
fail_under = 85.75
precision = 2
skip_covered = True
show_missing = True

# ; Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    logger.debug
    logger.info
    logger.warning
    logger.error
    ImportError
    ModuleNotFoundError
    __package__ =
    def run
    def terminal.
    __author__
    ic

exclude_also =
    ; Don't complain about missing debug-only code:
    ;def main
    ;def run
    if self\.debug
    if TYPE_CHECKING:
    if DEBUG:
    if DEBUG_MODE:

    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ; Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    ; Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod


[html]
directory = coverage_report/html
