site_name: Coding Dojo Incolume
repo_url: https://github.com/incolume-jedi/coding-dojo/
repo_name: coding-dojo-incolume
edit_uri: tree/dev/docs

theme:
  name: material
  language: pt-BR
  logo: asserts/img/jedi_logo.png
  favicon: asserts/img/jedi_logo.png

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.tasklist
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: "#"

extra_css:
  - stylesheets/extra.css

watch:
  - incolume

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [incolume]

extra:
  commands:
    run: incolume

